<div class="container">
	<div class="jumbotron">
		<h1>StaticPages#contact</h1>
		<p>Find me in app/views/static_pages/contact.html.erb</p>
	</div>

	<div class="container">
		<h2>Students' Alumni Cell</h2>
		<h3>Office of Alumni Affairs & International Relations</h3>
		<p>Indian Institute of Technology, Kharagpur</p>
		<p>West Bengal, India. Pin :- 721302</p>
		<p>Email: mentorship@adm.iitkgp.ernet.in</p>
		<p>Email: aao@hijli.iitkgp.ernet.in</p>
		<p>Phone: +91-3222-281860</p>
	</div>
</div>