<div class="container">


	<!-- <div class="container">
		<h2>Students’ Alumni Cell</h2>
		<article>
			The Students' Alumni Cell, IIT Kharagpur is a voluntary student body working under the aegis of the Office of Alumni Affairs and International Relations. It strives to bridge the gap between IIT Kharagpur and its esteemed alumni community. Over the course of past few years, the Students' Alumni Cell has emerged as a key organ of the Office of Alumni Affairs and International Relations in executing its yearlong events and activities. The Students' Alumni Cell continuously endeavours to strengthen the relations of the alumni of this institute and their alma mater. Formed as and operating under the Dean, Alumni Affairs and International Relations, the Students' Alumni Cell has been instrumental in organising the Annual Alumni Meet, publishing the quarterly alumni newsletter (KGPian), the annual literary magazine (Yearnings of Yore) and the Annual Yearbook (In Our Time) and among other things like organising regular guest lectures by distinguished alumni in the campus.
		</article>
		<h2>Annual Alumni Meet</h2>
		<article>
			The Annual Alumni Meet is the flagship event of the Students’ Alumni Cell. The event is aimed at reconnecting the alumni with their Alma mater .Every year the batches which complete their 50, 40 and 25 years since graduation are invited as the special guests of the meet. An open invitation is sent to all other connected Alumni. This year the 12th edition of the Meet was conducted from 9th – 11th January, 2015.It saw the largest participation from alumni. The meet is gaining huge popularity in quick time. It has become one of the most anticipated events among the alumni community. Multiple events are conducted during the meet  Entertania (stand-up comedy) ,musical nights , Dj night, department and hall visit ,campus tour and 2.2k Marathon to name a few.
		</article>

		<h2>My Imprint</h2>
		<article>
			‘My Imprint’ program reflects the exact KGPian tempo. The essentials which could have made your project, studies and research, and living, better in IIT KGP, My Imprint aims to resolve those to the nex-gen KGPians. Through this program, you can directly make your imprint towards the progress of your revered Institute. My Imprint Program focuses on the student community and recent pass-outs like you and gives opportunity to make your imprint towards your beloved Institute. What is important for you is a strong branding of your Alma Mater which will enhance your personal branding and thus help you whether you aim for higher studies or professional career.
		</article>

		<h2>Class Gift</h2>
		<article>
			Started from the year 2014, the class gift programme is a unique way for the graduating batch to show their gratitude towards their Alma Mater.The graduating batch every year votes for a class gift they would present to the institute and its students. At year the batch of 2014 offered “Support to International Participation” as the class gift of 2014. The class gift programme 2015 has already been initiated and the team is looking forward to a greater support and participation this time.For more information please visit. 
		</article>

		<h2>Leadership Summit</h2>
		<article>
			Leadership Summit 2: Innovation and Entrepreneurship was organised by Students’ Alumni Cell on 4th November, 2015 for the students to draw inspiration from the alumni who have made it large in their lives. Six eminent alumni divided by their varied fields of interested but united by their avidity for their work and hence, success in their respective fields, were invited. Mr. Arjun Malhotra, Shri Gopal Rajgarhia, Mr. Prasad Menon, Prof. Anjan Roychoudhury, Mr. Manohar Dey, Mr. Subhas Chander  Sarin, Mr. S. S. Roy were the esteemed panellists this year.
		</article> 

		<h2>Student Alumni Mentorship Programme</h2>
		<article>
			The Student-Alumni Mentoring Program (SAMP) offers undergraduate students the opportunity to develop a mentoring relationship with an alumnus who shares his/her educational and professional experience to help students achieve greater success in their academic and career pursuits. VSAMP students have the opportunity to be paired with an alumnus who will serve as a mentor, guide and resource over the course of an academic year. Through this program students can potentially obtain information on major and career related experiences, Expand their knowledge of various career options; gain job search tips and explore new trends and areas of interest.
		</article>


		<h2>Student Alumni Meet</h2>
		<article>
			Student-Alumni Meets are organized in Kolkata, Chennai, Hyderabad and Bangalore in association with the respective alumni chapters under this programme. The main focus of the Meets was nurturing stronger bonds between the student and alumni community as well as strengthening the connections of the alumni with their beloved alma mater. Each Meet began with a presentation on the activities of the Office of Alumni Affairs and International Relations. The alumni and students then engage themselves in a Meet-n-Greet Session followed by a more serious career-related group discussion. This programme was successful in bringing together more than 200+ alumni and students of IIT Kharagpur all over India. Students' Alumni Cell seeks to organize more such meets at various places in India in association with the alumni chapters of the region.
		</article>
	</div> --><!--Container Ends-->
	<style type="text/css">
	.panel-title a {
		font-size: 30px;
	}
	.panel-body{
		font-size: 18px;
		text-align: justify;
	}
	body{
		padding: 30px;
		background-image: url(/assets/images/banner7.jpg) !important;
		background-color: #97dbed;
	}
	</style>

	<div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h1 class="panel-title">
					<a href="#collapseOne" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseOne" aria-expanded="true">
						Students’ Alumni Cell
					</a>
				</h1>
			</div>

			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					The Students' Alumni Cell, IIT Kharagpur is a voluntary student body working under the aegis of the Office of Alumni Affairs and International Relations. It strives to bridge the gap between IIT Kharagpur and its esteemed alumni community. Over the course of past few years, the Students' Alumni Cell has emerged as a key organ of the Office of Alumni Affairs and International Relations in executing its yearlong events and activities. The Students' Alumni Cell continuously endeavours to strengthen the relations of the alumni of this institute and their alma mater. Formed as and operating under the Dean, Alumni Affairs and International Relations, the Students' Alumni Cell has been instrumental in organising the Annual Alumni Meet, publishing the quarterly alumni newsletter (KGPian), the annual literary magazine (Yearnings of Yore) and the Annual Yearbook (In Our Time) and among other things like organising regular guest lectures by distinguished alumni in the campus.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h2 class="panel-title">
					<a href="#collapseTwo" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseTwo" aria-expanded="false" class="collapsed">
						Annual Alumni Meet
					</a>
				</h2>
			</div>

			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					The Annual Alumni Meet is the flagship event of the Students’ Alumni Cell. The event is aimed at reconnecting the alumni with their Alma mater .Every year the batches which complete their 50, 40 and 25 years since graduation are invited as the special guests of the meet. An open invitation is sent to all other connected Alumni. This year the 12th edition of the Meet was conducted from 9th – 11th January, 2015.It saw the largest participation from alumni. The meet is gaining huge popularity in quick time. It has become one of the most anticipated events among the alumni community. Multiple events are conducted during the meet  Entertania (stand-up comedy) ,musical nights , Dj night, department and hall visit ,campus tour and 2.2k Marathon to name a few.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThird">
				<h2 class="panel-title">
					<a href="#collapseThird" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseThird" aria-expanded="false" class="collapsed">
						My Imprint
					</a>
				</h2>
			</div>

			<div id="collapseThird" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThird">
				<div class="panel-body">
					‘My Imprint’ program reflects the exact KGPian tempo. The essentials which could have made your project, studies and research, and living, better in IIT KGP, My Imprint aims to resolve those to the nex-gen KGPians. Through this program, you can directly make your imprint towards the progress of your revered Institute. My Imprint Program focuses on the student community and recent pass-outs like you and gives opportunity to make your imprint towards your beloved Institute. What is important for you is a strong branding of your Alma Mater which will enhance your personal branding and thus help you whether you aim for higher studies or professional career.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingForth">
				<h2 class="panel-title">
					<a href="#collapseForth" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseForth" aria-expanded="false" class="collapsed">
						Class Gift
					</a>
				</h2>
			</div>

			<div id="collapseForth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingForth">
				<div class="panel-body">
					Started from the year 2014, the class gift programme is a unique way for the graduating batch to show their gratitude towards their Alma Mater.The graduating batch every year votes for a class gift they would present to the institute and its students. At year the batch of 2014 offered “Support to International Participation” as the class gift of 2014. The class gift programme 2015 has already been initiated and the team is looking forward to a greater support and participation this time.For more information please visit.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
				<h2 class="panel-title">
					<a href="#collapseFive" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseFive" aria-expanded="false" class="collapsed">
						Leadership Summit
					</a>
				</h2>
			</div>

			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
					Leadership Summit 2: Innovation and Entrepreneurship was organised by Students’ Alumni Cell on 4th November, 2015 for the students to draw inspiration from the alumni who have made it large in their lives. Six eminent alumni divided by their varied fields of interested but united by their avidity for their work and hence, success in their respective fields, were invited. Mr. Arjun Malhotra, Shri Gopal Rajgarhia, Mr. Prasad Menon, Prof. Anjan Roychoudhury, Mr. Manohar Dey, Mr. Subhas Chander  Sarin, Mr. S. S. Roy were the esteemed panellists this year.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSixth">
				<h2 class="panel-title">
					<a href="#collapseSixth" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseSixth" aria-expanded="false" class="collapsed">
						Student Alumni Mentorship Programme
					</a>
				</h2>
			</div>

			<div id="collapseSixth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixth">
				<div class="panel-body">
					The Student-Alumni Mentoring Program (SAMP) offers undergraduate students the opportunity to develop a mentoring relationship with an alumnus who shares his/her educational and professional experience to help students achieve greater success in their academic and career pursuits. VSAMP students have the opportunity to be paired with an alumnus who will serve as a mentor, guide and resource over the course of an academic year. Through this program students can potentially obtain information on major and career related experiences, Expand their knowledge of various career options; gain job search tips and explore new trends and areas of interest.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSeventh">
				<h2 class="panel-title">
					<a href="#collapseSeventh" data-toggle="collapse" data-parent="#accordian" aria-controls="collapseSeventh" aria-expanded="false" class="collapsed">
						Student Alumni Meet
					</a>
				</h2>
			</div>

			<div id="collapseSeventh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventh">
				<div class="panel-body">
					Student-Alumni Meets are organized in Kolkata, Chennai, Hyderabad and Bangalore in association with the respective alumni chapters under this programme. The main focus of the Meets was nurturing stronger bonds between the student and alumni community as well as strengthening the connections of the alumni with their beloved alma mater. Each Meet began with a presentation on the activities of the Office of Alumni Affairs and International Relations. The alumni and students then engage themselves in a Meet-n-Greet Session followed by a more serious career-related group discussion. This programme was successful in bringing together more than 200+ alumni and students of IIT Kharagpur all over India. Students' Alumni Cell seeks to organize more such meets at various places in India in association with the alumni chapters of the region.
				</div>
			</div>
		</div>

	</div>
</div>






