
<style type="text/css">
body {
	background: url(/assets/images/banner7.jpg);
	font-size: 18px;
}
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.container a{
	color: black;
}
</style>

<div class="">
	<div class="jumbotron">
		<!-- <h1>StaticPages#testimonial</h1> -->
		<h1>Frequently Asked Questions</h1>
		<p>Here are questions people who are new to Mentorship Programme often have. We're here to help you.</p>
	</div>

	<div class="container">
		<div class="col-md-6">
			<div class="">
				<a href="#collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
					Who is an Alumni Mentor?
				</a>

				<hr>

				<div class="collapse" id="collapseOne">
					As an Alumni Mentor you are a guide, friend and resource who shares your Kgp education and professional experience to help pave the way for current students to succeed at Kgp and beyond. A Kgp Alumni Mentor derives satisfaction from helping Kgp students fulfill their potential.<br>
					Role of A Mentor:
					<div class="list-group">
						<li class="list-group-item">
							<span class="label label-primary">Motivator:</span> 
							Expresses belief and confidence in the mentee’s abilities, and encourages the mentee to try new things.
						</li>
						<li class="list-group-item">
							<span class="label label-info">Resource:</span>
							Teaches and advises the mentee on how to make professional contacts, and introduces the mentee to new ideas and own experiences.
						</li>
						<li class="list-group-item">
							<span class="label label-primary">Supporter:</span>
							Encourages open and honest dialogue, and listens to and responds to the needs of the mentee.
						</li>
						<li class="list-group-item">
							<span class="label label-success">Coach:</span>
							Helps the mentee develop, and work to achieve, realistic and meaningful goals.
						</li>
					</div><!--list-group ends -->
					<div class="panel panel-default">
						<div class="panel-heading">
							The Mentoring Relationship
						</div>
						<div class="panel-body">
							For mentoring to be successful there must be a reciprocal and comfortable relationship between the mentor and the mentee. Both parties must work to make the relationship successful by being open-minded, respectful and keeping to the expectations they have set for the relationship. Ideally, the mentor-mentee relationship will be a mutually beneficial one; as the mentor learns from the mentee and the mentee from the mentor.
						</div>
					</div><!--Panel ends -->
				</div><!--CollapseOne ends -->
			</div><!--Container1 ends -->

			<div class="">
				<a href="#collapseTwo" data-toggle="collapse" aria-controls="collapseTwo" aria-expanded="false">
					How Will I Benefit as a Mentor?
				</a>

				<hr>

				<div class="well collapse" id="collapseTwo">
					We believe that mentoring will be a positive and enriching experience for you. Specifically, we hope you will:

					Refine your coaching and mentoring skills 
					Develop meaningful connections with students 

					Learn about the Kgp of today and the next generation

					<div class="panel panel-default">
						Experience a reconnection with your Alma Mater
					</div><!--Panel Default -->
				</div>
			</div><!--Container2 Ends -->

			<div class="">
				<a href="#collapseThree" data-toggle="collapse" aria-controls="collapseThree" aria-expanded="false">
					How will the Mentee Benefit?
				</a>

				<hr>

				<div class="well collapse" id="collapseThree">
					Following are some general ways we hope the students will benefit from being in a mentoring relationship:
					<div class="list-group">
						<li class="list-group-item">
							•	Build a professional network 
						</li>
						<li class="list-group-item">
							•	Develop and enhance professional and communication skills 
						</li>
						<li class="list-group-item">
							•	Connect academics and career; acquire advice on experiences and courses that would be of greatest benefit 
						</li>
						<li class="list-group-item">
							•	Explore new ideas and areas of interest 
						</li>
						<li class="list-group-item">
							•	Gain exposure to career options, advice and job search tips 
						</li>
					</div><!--list-group-item ends -->
				</div>
			</div><!--container3 ends -->
		</div><!--col-md-6 ends -->

		<div class="col-md-6">
			<div class="">
				<a href="#collapseFour" data-toggle="collapse" aria-controls="collapseFour" aria-expanded="false">
					What is Expected of the Mentee?
				</a>
				<hr>
				<div class="well collapse" id="collapseFour">
					Before a student can search for a mentor, they must attend a mandatory orientation in which they are instructed to think about what they want out of a mentoring relationship. They are informed of our expectations, which include:
					<div class="list-group">
						<li class="list-group-item">
							•	Spend at least two hours per month building the mentoring relationship 
						</li>
						<li class="list-group-item">
							•	Make the first contact with the selected mentor and respond to all communication 
						</li>
						<li class="list-group-item">
							•	Set specific goals for the mentoring relationship with mentor 
						</li>
						<li class="list-group-item">
							•	Agree and commit to expectations and goals set with the mentor 
						</li>
						<li class="list-group-item">
							•	Be appropriate in their requests of their mentor, in particular, in NOT asking for a job or sponsorship
						</li>
						<li class="list-group-item">
							•	Approach the mentoring relationship with an open mind, professionalism and respect 
						</li>
					</div>
					<footer>Be receptive to suggestions and feedback</footer>
				</div>
			</div><!--container4 ends -->

			<div class="">
				<a href="#collapseFive" data-toggle="collapse" aria-controls="collapseFive" aria-expanded="false">
					The Matching process
				</a>
				<hr>
				<div class="well collapse" id="collapseFive">
					<div class="list-group">
						<li class="list-group-item">
							•	Both the mentee and the mentor register for the program through an online form .
						</li>
						<li class="list-group-item">
							•	Based on the preferences filled in the form and factors like place, year and grades, Mentors are allotted to the mentees on the basis of a predefined code.
						</li>
						<li class="list-group-item">
							•	There can be situations where the mentor is not allotted any mentee or vice versa due to the preferences made, in such a case the mentor would be notified through an email and the allotment shall then be done manually.
						</li>
					</div>
				</div>
			</div><!--container5 ends -->

			<div class="">
				<a href="#collapseSixth" data-toggle="collapse" aria-controls="collapseSixth" aria-expanded="false">
					ONCE A MATCH IS MADE
				</a>
				<hr>
				<div class="well collapse" id="collapseSixth">
					<div class="list-group">
						<li class="list-group-item">
							•	We advise you to connect with your mentee through social networking platforms.
						</li>
						<li class="list-group-item">
							•	Have few informal sessions with your mentee for ice breaking.
						</li>
						<li class="list-group-item">
							•	If the mentee does not respond to your conversations do write to us.
						</li>
						<li class="list-group-item">
							•	Your feedback is our prime critic; do respond to our feedback forms to make this program a success.
						</li>
					</div>
				</div>
			</div><!--container6 -->
		</div><!--col-md-6 ends -->
	</div>

</div>