<option value="AE">Aerospace Engineering</option>
<option value="AG">Agricultural & Food Engineering</option>
<option value="AR">Architecture & Regional Planning</option>
<option value="BT">Biotechnology</option>
<option value="CE">Civil Engineering</option>
<option value="CH">Chemical Engineering</option>
<option value="CS">Computer Science & Engineering</option>
<option value="CY">Chemistry</option>
<option value="EE">Electrical Engineering</option>
<option value="EC">Electronics & Electrical Communication Engineering</option>
<option value="GG">Geology & Geophysics</option>
<option value="HS">Humanities & Social Sciences</option>
<option value="IM">Industrial & Systems Engineering</option>
<option value="MA">Mathematics</option>
<option value="ME">Mechanical Engineering</option>
<option value="MT">Metallurgical & Materials Engineering</option>
<option value="MI">Mining Engineering</option>
<option value="NA">Ocean Engineering & Naval Architecture</option>
<option value="PH">Physics</option>
